:host{
    @apply text-white;
}
.toolbar{
    @apply flex sm:justify-end justify-start align-middle w-full relative;
}
.button{
    color: white;
    @apply sm:hidden p-1 rounded-[50%] flex items-center;
}
.title-shadow{
    text-shadow: 0px 0px 3px rgba(166, 231, 255, 1);
}
.second-row{
    @apply h-4;
}
.toolbar-height{
    height: 85px;
}