$primary-palette: (
    50: var(--primary-50),
    100: var(--primary-100),
    200: var(--primary-200),
    300: var(--primary-300),
    400: var(--primary-400),
    500: var(--primary-500),
    600: var(--primary-600),
    700: var(--primary-700),
    800: var(--primary-800),
    900: var(--primary-900),
  A100: var(--primary-A100),
  A200: var(--primary-A200),
  A400: var(--primary-A400),
  A700: var(--primary-A700),
  contrast: (
    50: var(--primary-contrast-50),
    100: var(--primary-contrast-100),
    200: var(--primary-contrast-200),
    300: var(--primary-contrast-300),
    400: var(--primary-contrast-400),
    500: var(--primary-contrast-500),
    600: var(--primary-contrast-600),
    700: var(--primary-contrast-700),
    800: var(--primary-contrast-800),
    900: var(--primary-contrast-900),
    A100: var(--primary-contrast-A100),
    A200: var(--primary-contrast-A200),
    A400: var(--primary-contrast-400),
    A700: var(--primary-contrast-700),
  )
);

$accent-palette: (
    50: var(--accent-50),
    100: var(--accent-100),
    200: var(--accent-200),
    300: var(--accent-300),
    400: var(--accent-400),
    500: var(--accent-500),
    600: var(--accent-600),
    700: var(--accent-700),
    800: var(--accent-800),
    900: var(--accent-900),
  A100: var(--accent-A100),
  A200: var(--accent-A200),
  A400: var(--accent-A400),
  A700: var(--accent-A700),
  contrast: (
    50: var(--accent-contrast-50),
    100: var(--accent-contrast-100),
    200: var(--accent-contrast-200),
    300: var(--accent-contrast-300),
    400: var(--accent-contrast-400),
    500: var(--accent-contrast-500),
    600: var(--accent-contrast-600),
    700: var(--accent-contrast-700),
    800: var(--accent-contrast-800),
    900: var(--accent-contrast-900),
    A100: var(--accent-contrast-A100),
    A200: var(--accent-contrast-A200),
    A400: var(--accent-contrast-400),
    A700: var(--accent-contrast-700),
  )
);

$warn-palette: (
    50: var(--danger-50),
    100: var(--danger-100),
    200: var(--danger-200),
    300: var(--danger-300),
    400: var(--danger-400),
    500: var(--danger-500),
    600: var(--danger-600),
    700: var(--danger-700),
    800: var(--danger-800),
    900: var(--danger-900),
  A100: var(--danger-A100),
  A200: var(--danger-A200),
  A400: var(--danger-A400),
  A700: var(--danger-A700),
  contrast: (
    50: var(--danger-contrast-50),
    100: var(--danger-contrast-100),
    200: var(--danger-contrast-200),
    300: var(--danger-contrast-300),
    400: var(--danger-contrast-400),
    500: var(--danger-contrast-500),
    600: var(--danger-contrast-600),
    700: var(--danger-contrast-700),
    800: var(--danger-contrast-800),
    900: var(--danger-contrast-900),
    A100: var(--danger-contrast-A100),
    A200: var(--danger-contrast-A200),
    A400: var(--danger-contrast-400),
    A700: var(--danger-contrast-700),
  )
);

@use '@angular/material' as mat;
@include mat.core();

$custom-primary: mat.define-palette($primary-palette, 500);
$custom-accent: mat.define-palette($accent-palette, A200, A100, A400);
$custom-warn: mat.define-palette($warn-palette);

$custom-theme: mat.define-light-theme((
    color: (
        primary: $custom-primary,
        accent: $custom-accent,
        warn: $custom-warn
    ),
    typography: mat.define-typography-config(),
    density: 0,
));

@include mat.core-theme($custom-theme);
@include mat.button-theme($custom-theme);
@include mat.toolbar-theme($custom-theme);
@include mat.sidenav-theme($custom-theme);