<div class="w-full h-[85vh] flex justify-center">

<div
  class="sm:w-[50%] h-[300px] w-full  pb-4 "
>
<h2 class="py-2 px-4 text-primary-500  border-primary-400 border-b-2">{{formTitle}}</h2>

  <form (submit)="sendHandler()" [formGroup]="registrationForm" id="loginform">
    <div class="flex flex-col sm:grid sm:grid-cols-3 pt-8 px-8 text-primary-600">
      <label class="text-primary-500" for="email">E-mail: </label>

      <div class="flex flex-col col-span-2">
        
          
          <input
          class="input"
          id="email"
          placeholder="E-mail"
          formControlName="email"
          required
          />
        

        <div class="min-h-[42px]">
          <span class="text-xs text-red-700" *ngIf="formErrors['email']">{{
            formErrors["email"]
          }}</span>
        </div>
      </div>
    </div>

    <div class="flex flex-col sm:grid sm:grid-cols-3 pt-4 px-8">
      <label class="text-primary-00" for="password">Password: </label>

      <div class="flex flex-col col-span-2">
        <input
          class="input"
          id="password"
          placeholder="Password"
          formControlName="password"
          type="password"
          
          />

        <div class="min-h-[42px]">
          <span class="text-xs text-red-700" *ngIf="formErrors['password']">{{
            formErrors["password"]
          }}</span>
        </div>
      </div>
    </div>
    
  </form>
  <div class="flex justify-end">  
  
    <div class="px-2">  
      <button
        mat-stroked-button
        color="accent"
        class="w-[100px]"
        [disabled]="!registrationForm.dirty"
        (click)="registrationForm.reset()"
        >
        Reset
      </button>
    </div>

    <div class="px-2">  
      <button
       type="submit"
        form="loginform" 
        class="w-[100px]"
        color="primary"
        mat-stroked-button
        [disabled]="!registrationForm.valid"
        >
        Submit
      </button>
    </div>

  </div>
  </div>
</div>

