.input{
    @apply outline-none shadow-sm rounded-[5px] bg-transparent border-primary-100 p-1 focus:border-primary-400 border-[1px];
}
.ng-invalid.ng-touched{
    @apply border-danger-300;
}
.field{
    @apply text-xs p-0;
    --mdc-filled-text-field-container-color: transparent;
}

input::placeholder{
    @apply text-transparent;
}

.input-field:has(.ng-dirty.ng-touched){
    .top{
        @apply top-[-20px] left-[-5px];
    }
}
.input-field{
    .top{
        @apply top-[5px] left-[5px] transition-all duration-200 text-primary-700;
    }
}

.input-field:focus-within{
    .top{
        @apply top-[-20px] left-[-5px];
    }
}

 
.mat-mdc-raised-button.mat-primary {
    --mdc-protected-button-container-color: var(--primary-500);
    --mdc-protected-button-label-text-color: #ffffff;
}