<mat-sidenav-container hasBackdrop="true">
  <mat-sidenav  role="navigation" #sideNav mode="over" class="w-[300px] px-4 py-6"> 
    <div class="w-full">
      <button (click)="sidenav.close()" mat-icon-button><mat-icon>keyboard_backspace</mat-icon></button>
      <app-navmenu place="side"/>
    </div>
    
  </mat-sidenav>
  <mat-sidenav-content class="min-h-[100vh]" >
    <app-navbar (sideNavToggle)="sideNav.toggle()" ></app-navbar>
    <div class="container mx-auto mt-6" [@newElement]="getRouteAnimation()">  
    <main>
      <router-outlet></router-outlet>
    </main>
  </div>
  </mat-sidenav-content>
</mat-sidenav-container>

