
  <div
    class="w-full flex flex-col justify-center align-middle rounded-sm overflow-hidden mb-1"
    
    >
    <div class="grid grid-cols-7 gap-y-[2px] text-black">
      <div class="col-span-5 bg-primary-100"></div>
      <div class="col-span-2 p-2 bg-primary-100">
        <div class="flex justify-end">
          <button (click)="fileInput.click()" mat-flat-button>
            Chose file
          </button>
        </div>
      </div>

      <ng-template [ngIf]="fileList.length || filesInProgress.length">
        <div class="p-4 bg-primary-500">
          <input
            (click)="selectAllHandler($event)"
            type="checkbox"
            #selectAll
          />
        </div>
        <div class="col-span-3 bg-primary-500"></div>
        <div class="col-span-3 bg-primary-500">
          <div
            class="h-full flex justify-end items-center"
            *ngIf="this.fileList | selected"
          >
            <button
              mat-flat-button
              class="mr-4"
              (click)="uploadSelectedFiles()"
            >
              <mat-icon>upload</mat-icon>Upload
            </button>
            <button
              mat-flat-button
              color="accent"
              class="ml-6 mr-2"
              (click)="removeFilesHandler()"
            >
              <mat-icon>delete</mat-icon>Remove from list
            </button>
          </div>
        </div>
      </ng-template>

      <ng-container *ngFor="let item of fileList; let idx = index">
      <ng-container *ngIf="item.progress!==100">
        
        <div class="bg-primary-50 p-1 pl-4">
          <input
            type="checkbox"
            [checked]="item.selected"
            (click)="selectHandler($event, idx)"
            *ngIf="!(item.progress === 100 && item.inprogress)"
          />
        </div>
        <div class="col-span-3 p-1 bg-primary-50" >{{ item.file.name }}</div>
        <div class="col-span-2 pt-3 bg-primary-50">
          <mat-progress-bar
            class="my-progress-bar"
            [value]="item.progress"
            mode="determinate"
          ></mat-progress-bar>
        </div>
        <div (click)="uploadFile(idx)" class="text-end bg-primary-50">
          <mat-icon
            class="text-primary-400 hover:text-primary-500 icon-size"
            [ngClass]="{
              'hover:text-primary-200 animate-pulse':
                item.inprogress && item.progress < 100
            }"
            *ngIf="!(item.progress === 100)"
            >play_arrow</mat-icon
          >
        </div>
        </ng-container>
      </ng-container>

      <ng-container *ngFor="let item of filesInProgress; let idx = index">
        <ng-container *ngIf="item.progress!==100">
          <div class="bg-primary-100 p-1 pl-4">
            
          </div>
          <div class="col-span-3 p-1 bg-primary-100">{{ item.file.name }}</div>
          
          <div class="col-span-2 pt-3 bg-primary-100">
            <mat-progress-bar
              class="my-progress-bar"
              [value]="item.progress"
              mode="determinate"
              *ngIf="item.progress>0; else waiting"             
              ></mat-progress-bar>
          
              <ng-template #waiting>
                <mat-progress-bar
              class="my-progress-bar"
              [value]="item.progress"
              mode="indeterminate"
             ></mat-progress-bar>
              </ng-template>
          
            </div>
          
          <div  class="text-end bg-primary-100">
            
          </div>
          </ng-container>
        </ng-container>


    </div>
  </div>

<input
  class="absolute z-30"
  type="file"
  (change)="handleFileUpload()"
  class="hidden"
  multiple
  #fileInput
/>
