<div class="flex flex-col rounded-sm rounded-t overflow-hidden">
  <div class="flex justify-between items-center p-4 bg-primary-100 dark:bg-primary-700">
    <div class="text-primary-600 dark:text-primary-50 font-medium text-xl p-0">Files to upload</div>
    <button (click)="fileInput.click()" mat-flat-button>Chose files</button>
  </div>

  <table class="table-fixed w-full border-separate border-spacing-y-[2px]">
    <thead
      class="bg-primary-500 dark:bg-primary-700 text-white h-[45px]"
      @tableHeader
      *ngIf="fileList.length || filesInProgress.length"
    >
      <th class="p-2 w-[40px]">
        <input
          (click)="selectAllHandler($event)"
          [checked]="selected > 0"
          type="checkbox"
          #selectAll
        />
      </th>
      <th class="text-left">Name</th>
      <th>
        <div class="flex justify-end" @tools *ngIf="selected > 0">
          <button mat-flat-button class="mr-2" (click)="startUpload()">
            <mat-icon>upload</mat-icon
            ><span class="hidden lg:inline">Upload</span>
          </button>
          <button
            mat-flat-button
            color="accent"
            class="ml-2 mr-2"
            (click)="removeFilesHandler()"
          >
            <mat-icon>delete</mat-icon
            ><span class="hidden lg:inline"> Clear </span>
          </button>
        </div>
      </th>
    </thead>
  </table>

  <div
    [ngStyle]="{ height: heightList() }"
    class="relative transition-all duration-200"
    [@newElement]="fileList.length"
  >
    <div
      [ngStyle]="{ top: top(idx)}"
      [ngClass]="{'bg-normal': !item.selected, 'bg-selected': item.selected}"
      class="absolute grid grid-cols-10 h-[40px] w-full"
      *ngFor="let item of fileList; let idx = index; trackBy: trackByFn"
    >
  
      <div class="p-2 pl-3">
        <input
          type="checkbox"
          (click)="selectHandler($event, idx)"
          [checked]="item.selected"
          *ngIf="!item.inprogress"
        />
      </div>
      
      <div class="col-span-5 px-3 flex items-center">{{ item.file.name }}</div>
      
      <div class="col-span-4 flex items-center">
        <mat-progress-bar
          class="my-progress-bar"
          [value]="item.progress"
          mode="indeterminate"
          *ngIf="item.inprogress"
        ></mat-progress-bar>
      </div>
    
    </div>
  
  </div>

  <div
    class="relative bg-primary-200 dark:bg-primary-400 text-white h-[40px] flex items-center pl-4"
    *ngIf="filesInProgress.length"
  >
    Inprogress
  </div>

  <div
    [ngStyle]="{ height: heightListInProgress() }"
    class="relative transition-all duration-200"
    [@newElement]="filesInProgress.length"
  >
    <ng-container *ngFor="let item of filesInProgress; let idx = index">
      <div
      [ngStyle]="{ top: top(idx) }"
        class="absolute grid grid-cols-10 bg-primary-100 dark:bg-primary-700 w-full h-[32px]"
       
      >
        <div class="p-2 pl-3"></div>
        <div class="col-span-5 flex items-center">{{ item.file.name }}</div>
        <div class="col-span-4 px-3 flex items-center">
          <mat-progress-bar
            class="my-progress-bar"
            [value]="item.progress"
            mode="determinate"
            *ngIf="item.progress > 0; else wait"
          ></mat-progress-bar>

          <ng-template #wait>
            <mat-progress-bar
              class="my-progress-bar"
              [value]="item.progress"
              mode="indeterminate"
            ></mat-progress-bar>
          </ng-template>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<input
  class="absolute z-30"
  type="file"
  (change)="handleFileUpload()"
  class="hidden"
  multiple
  #fileInput
/>
