.icon-size{
    font-size: 36px;
    width: 36px;
    height: 36px;

}
.text-list{
    text-align: left;
}
.progress{
    background-color: var(--primary-100);
}
.mat-mdc-progress-bar {
    --mdc-linear-progress-active-indicator-color: var(--primary-500);
    --mdc-linear-progress-track-color: var(--primary-100);
}

@keyframes blink{
    0%{
        @apply text-primary-500
    }
    50% {
        @apply text-primary-100
    }
    100%{
        @apply text-primary-500
    }
}