.icon-size{
    font-size: 30px;
    width: 30px;
    height: 30px;

}
.text-list{
    text-align: left;
}
.progress{
    background-color: var(--primary-100);
}
.mat-mdc-progress-bar {
    --mdc-linear-progress-active-indicator-color: var(--primary-500);
    --mdc-linear-progress-track-color: var(--primary-100);
}



@keyframes blink{
    0%{
        @apply text-primary-500
    }
    50% {
        @apply text-primary-100
    }
    100%{
        @apply text-primary-500
    }
}

.bg-selected{
    @apply bg-primary-100 dark:bg-primary-700;
}
.bg-normal{
 @apply bg-primary-50 dark:bg-primary-600;
}