

   <mat-card-header class="header"> <h2 class="text-primary-600">Your files</h2></mat-card-header>
      <mat-drawer-container>
      <mat-drawer class="w-[250px]" position="end" #drawer>
        <app-fileinfo
          (close)="drawer.close()"
          [fileMetadata]="fileMetadata"
        ></app-fileinfo>
      </mat-drawer>

      <mat-drawer-content>
        <div class="grid grid-cols-7 gap-y-1 mt-1">
          <!--curr path-->
          <div class="col-span-6 text-lg text-primary-700 flex bg-slate-100">
            <span class="inline-block pl-2 pt-[7px]"
              ><mat-icon>folder_open</mat-icon></span
            >

            <div class="p-2">
              <span
                class="cursor-pointer"
                [ngClass]="{ 'hover:text-primary-500 underline': path.length }"
                (click)="goToDirectory(-1)"
                >Root</span
              >

              <span
                class="cursor-pointer"
                [ngClass]="{ 'hover:text-primary-500': !last }"
                (click)="goToDirectory(idx)"
                *ngFor="let dir of path; let idx = index; let last = last"
              >
                /
                <span [ngClass]="{ underline: !last }">{{ dir }}</span></span
              >
            </div>
          </div>
          <!--curr path end-->

          <!--Create directory-->
          <div class="bg-slate-100">
            <div class="flex justify-end">
              <span (click)="createDirctory()" class="pr-4 p-2">
                <mat-icon
                  class="text-primary-500 hover:text-primary-400 cursor-pointer"
                  >create_new_folder</mat-icon
                >
              </span>
            </div>
          </div>
          <!--header-->
          <div class="p-2 py-3 bg-primary-500">
            <input (click)="selectAllHandler($event)" type="checkbox" />
          </div>
          <div class="col-span-4 bg-primary-500 text-white py-3">Name</div>
          <div class="col-span-2 bg-primary-500">
            <div
              class="h-full flex justify-end items-center"
              *ngIf="filesList | selected"
            >
              <button (click)="downloadFiles()" mat-flat-button>
                <mat-icon>download</mat-icon>Download
              </button>

              <button
                (click)="deleteHandler()"
                mat-flat-button
                color="warn"
                class="button"
              >
                <mat-icon>delete</mat-icon>Delete
              </button>
            </div>
          </div>

          <!--Files list-->

          <ng-container *ngFor="let item of filesList; let idx = index">
            <div
              class="p-2 pl-3"
              [ngClass]="{
                'bg-primary-50': !item.selected,
                'bg-primary-100': item.selected
              }"
            >
              <input
                [checked]="item.selected"
                (click)="selectOneHandler($event, idx)"
                type="checkbox"
                *ngIf="!item.isDirectory"
              />
            </div>
            <!--directory-->
            <div
              class="col-span-3 bg-primary-50 py-2 cursor-pointer"
              (click)="openDirectory(idx)"
              *ngIf="item.isDirectory; else file"
            >
              {{ item.fullPath }}<span>/</span>
            </div>
            <!--file-->
            <ng-template #file>
              <div
                [ngClass]="{
                  'bg-primary-50': !item.selected,
                  'bg-primary-100': item.selected
                }"
                (click)="showFileMetadata(idx)"
                class="col-span-3 bg-primary-50 py-2 cursor-pointer"
              >
                {{ item.name }}
              </div>
            </ng-template>

            <div class="col-span-2 pt-4" [ngClass]="{
              'bg-primary-50': !item.selected,
              'bg-primary-100': item.selected
            }"><mat-progress-bar class="my-progress-bar" [value]="item.progress" mode="determinate"  *ngIf="item.selected || item.loaded"></mat-progress-bar></div>
            <div
              [ngClass]="{
                'bg-primary-50': !item.selected,
                'bg-primary-100': item.selected
              }"
            >
              <div
                class="flex justify-end items-center h-full pr-4"
                (click)="deleteOneHandler(idx)"
                *ngIf="!item.isDirectory"
              >
                <mat-icon
                  class="text-primary-500 hover:text-primary-300 cursor-pointer"
                  >delete</mat-icon
                >
              </div>
            </div>
          </ng-container>
        </div>
      </mat-drawer-content>
    </mat-drawer-container>
