<mat-card-header class="header">
  <h2 class="text-primary-600 dark:text-primary-50">Your storage</h2></mat-card-header
>
<mat-drawer-container class="overflow-hidden rounded-b-lg">
  <mat-drawer class="w-[250px] drawer-background" position="end" #drawer>
    <app-fileinfo
      (close)="drawer.close()"
      [fileMetadata]="fileMetadata"
    ></app-fileinfo>
  </mat-drawer>

  <mat-drawer-content class="content">
      <div class="flex justify-between items-center text-primary-700 dark:text-contrast dark:bg-primary-400 text-lg bg-slate-100">
      <!--curr path-->
      <div>
        <app-path />
      </div>
      
      <!--Create directory-->
      <div>
        <div class="flex justify-end">
          <span (click)="createDirctory()" class="pr-4 p-2">
            <mat-icon
              class="text-primary-500 dark:text-primary-50 dark:hover:text-primary-300 hover:text-primary-400 cursor-pointer transition-all duration-150"
              >create_new_folder</mat-icon
            >
          </span>
        </div>
      </div>
    </div>

      <!--header-->
      <table class="table-fixed w-full border-separate border-spacing-y-[2px] text-primary-700">
        <thead class="bg-primary-700 text-white h-[45px]">
          <th class="p-2 w-[40px]">
            <input
              (click)="selectAllHandler($event)"
              [checked]="filesList | selected"
              type="checkbox"
              #selectAll
            />
          </th>
          <th  class="text-left">Name</th>
          <th colspan="2">
            <div
              class="h-full flex justify-end items-center"
              @tools
              *ngIf="filesList | selected"
            >
              <button
                (click)="downloadFiles()"
                class="transition-all duration-300"
                mat-flat-button
              >
                <mat-icon>download</mat-icon
                ><span class="hidden lg:inline">Download</span>
              </button>

              <button
                (click)="deleteHandler()"
                mat-flat-button
                color="warn"
                class="button"
              >
                <mat-icon>delete</mat-icon
                ><span class="hidden lg:inline">Delete</span>
              </button>
            </div>
          </th>
        </thead>
        </table>

      <div class="relative flex flex-col transition-all duration-150" [@newElement]="filesList.length"  [ngStyle]="{'height': height()}">
      
        <div [ngStyle]="{'top': top(idx) }" class="grid grid-cols-10 h-[40px] w-full absolute transition-all duration-300"
            [ngClass]="{
            'bg-normal': !item.selected,
            'bg-selected': item.selected
          }"
           
            *ngFor="let item of filesList; let idx = index; trackBy: trackByFn"
        >
          
            <div class="p-2 pl-3">
              <input
                [checked]="item.selected"
                (click)="selectOneHandler($event, idx)"
                type="checkbox"
                *ngIf="!item.isDirectory"
              />
            </div>
          
            <div class="col-span-5 flex items-center">
                <div
                  class="cursor-pointer w-full"
                  (click)="openDirectory(idx)"
                  *ngIf="item.isDirectory; else file"
                >
                  {{ item.fullPath }}<span>/</span>
              </div>

              <ng-template #file>
                <div
              
                  (click)="showFileMetadata(idx)"
                  class="cursor-pointer w-full"
                >
                  {{ item.name }}
              </div>
              </ng-template>
            </div>
            
            <div class="col-span-3 flex items-center">
              <mat-progress-bar
                class="my-progress-bar"
                [value]="item.progress"
                mode="determinate"
                @progress
                *ngIf="item.selected || item.loaded"
              ></mat-progress-bar>
            </div>
            <div>
              <div
                class="flex justify-end items-center h-full pr-3"
                (click)="deleteOneHandler(idx)"
              >
                <mat-icon
                  class="text-primary-500 dark:text-primary-100 dark:hover:text-primary-300 hover:text-primary-300 cursor-pointer transition-all duration-150"
                  *ngIf="item.fullPath!=='..'"
                  >delete</mat-icon
                >
              </div>
            </div>
           </div>
          </div>
        
      
      
      
  </mat-drawer-content>
</mat-drawer-container>
