:host {
    display: block;
    padding: 0px;
    max-width: 500px;
    animation: custom-dialog-enter 1s ease;
    @apply bg-primary-200 border-primary-500 border-2;  
  }
  .title{
    @apply bg-primary-500 text-white;
}
.content{
  @apply pt-3;
}

.input{
    @apply outline-none rounded-sm p-1 focus:border-primary-400 border-2 text-primary-700;
}