/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;



@import './app/theme.service/custom-theme.scss';

@import './assets/font/css/open-iconic-foundation.min.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-app-background {
  @apply bg-primary-300;
} 

.mat-mdc-form-field-focus-overlay {
    background-color: transparent !important;
  }

.mat-mdc-raised-button.mat-primary {
    --mdc-protected-button-container-color: var(--primary-500);
    --mdc-protected-button-label-text-color: var(--primary-contrast-500);
}

.mat-mdc-raised-button.mat-accent {
  --mdc-protected-button-container-color: var(--accent-500);
  --mdc-protected-button-label-text-color: white;
}


