<div class="w-full h-[90vh] flex justify-center">

<div
  class="sm:w-[50%] h-[300px] w-full bg-primary-200 pb-4  rounded-md shadow-lg border-primary-400 border-2"
>
<div class="py-2 px-4 bg-primary-400 text-lg text text-primary-contrast-100">{{formTitle}}</div>

  <form (submit)="sendHandler()" [formGroup]="registrationForm" id="loginform">
    <div class="flex flex-col sm:grid sm:grid-cols-3 pt-8 px-8 ">
      <label class="text-primary-700" for="email">E-mail: </label>

      <div class="flex flex-col col-span-2">
        <input
          class="input"
          id="email"
          placeholder="E-mail"
          formControlName="email"
          
          />

        <div class="min-h-[42px]">
          <span class="text-xs text-red-700" *ngIf="formErrors['email']">{{
            formErrors["email"]
          }}</span>
        </div>
      </div>
    </div>

    <div class="flex flex-col sm:grid sm:grid-cols-3 pt-4 px-8">
      <label class="text-primary-700" for="password">Password: </label>

      <div class="flex flex-col col-span-2">
        <input
          class="input"
          id="password"
          placeholder="Password"
          formControlName="password"
          type="password"
          
          />

        <div class="min-h-[42px]">
          <span class="text-xs text-red-700" *ngIf="formErrors['password']">{{
            formErrors["password"]
          }}</span>
        </div>
      </div>
    </div>
    
  </form>
  <div class="flex justify-end">  
  
    <div class="px-2">  
      <button
        appButton="accent"
        class="w-[100px]"
        [disabled]="!registrationForm.dirty"
        (click)="registrationForm.reset()"
        >
        Reset
      </button>
    </div>

    <div class="px-2">  
      <button
       type="submit"
        form="loginform" 
        class="w-[100px]"
        appButton="primary"
        [disabled]="!registrationForm.valid"
        >
        Submit
      </button>
    </div>

  </div>
  </div>
</div>

